<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cos_style1.css' %}">
</head>
<body>
    <div class="main">
        <h1>ADD PRODUCT</h1>
         <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="pro_category">Product categories:</label><br>
        <select name="category" class="drop" id="" required>
            {% for i in data %}
            <option value="{{i.category}}">{{i.category}}</option>
            {% endfor %}
        </select><br><br>
        <input type="text" name="pid" id="" class="input1" placeholder="product id" required><br><br>
        <input type="text" name="name" id="" class="input1" placeholder="name" required><br><br>
        <input type="text" name="dis" id="" class="input1" placeholder="description" required><br><br>
        <input type="file" name="img" id="" class="input1" accept="image/*" required><br><br>
        <input type="submit" value="add" class="input2"><br><br>
    </form>
    </div>
   
</body>
</html>